<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Refresh data </title>
</head>

<body>
    <h1>Refreshing all data.</h1>
    <p>Return to home page in <span id="timeout">5</span> second.</p>
    <p>Please wait until all file download.</p>
    <script>

        let countTime = 5;
        function count() {

            document.getElementById('timeout').textContent = countTime;
            countTime -= 1;
            if (countTime === 0) {
                location.href = '/stock';
            }
            setTimeout(() => {
                count();
            }, 1000);
        }

        count();

    </script>

</body>

</html>